.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.mainarea{  
  background-color: black;
  /* color: white; */
  /* width: 100%; */
  /* height: 150px; */
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  /* resize: none; */

  display: flex;
  flex-direction: row;
}
.token{
  background-color: black;
  position:flex;
  display: row;
}
.decodeToken{
  background-color: black;
  position:flex;
  display: row;
  margin-left: 3%;
}
.a{
  margin-bottom: 3%;
} 
input, textarea{
  background-color: black;
  color: white;
  width: 100%;
  /* height: 150px; */
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  resize: none;
}